@charset "utf-8";

/* -------------------------------------------------------------
	롯데손해보험 MARS
	CHART GUIDE CSS
------------------------------------------------------------- */

.wrap-chart {margin:10px 0;background:#292929;color:#fff;padding:10px;border:solid 1px rgba(255,255,255,.3)}

.wrap-chart .graphbar {background:#3d3d3d; width:100%; position:relative}
.wrap-chart .graphbar p {width:0%; height:100%; position:absolute; top:0; left:0; max-width:100%; background:#e84427}
.multiple-chart {margin:0 50px 0 66px; position:relative}
.multiple-chart::before {content:""; display:block; width:1px; height:100%; position:absolute; top:0; left:-1px; background:#444; z-index:1}
.multiple-chart .item {padding:20px 0; width:100%; position:relative; z-index:10}
.multiple-chart strong {display:block;width:66px;font-weight:normal;position:absolute;top:calc(50% - 12px);left:-66px;font-size:13px;color:#999;}
.multiple-chart .graphbar {width:100%; height:4px}
.multiple-chart .percent {display:block;width:50px;position:absolute;top:calc(50% - 12px);right:-50px;padding-left:10px;font-size:10px;color:#ccc;}
.chart_cutline {width:0; height:100%; border-right:dashed 1px #3d3d3d; position:absolute; top:0; left:0; text-indent:100%; white-space:nowrap; overflow:hidden}

.value_current {width:0; height:10px; background:#e84427}

.percentage-chart {position:relative; z-index:80}
.percentage-chart .total {display:block; text-align:center; font-size:12px; margin-bottom:30px}
.percentage-chart .total strong {display:block; font-size:30px}
.percentage-chart .graphbar {width:100%; height:4px; background:#21606f; position:relative; border-radius:4px; z-index:90}
.percentage-chart .graphbar p {border-radius:4px}

.wrap-chart .circle {display:block; position:absolute; top:calc(50% - 7px); margin-left:-8px; width:14px; height:14px; background:#e84427; border-radius:16px; outline:solid 4px rgba(232,68,39,.4);}
.wrap-chart .wall {position:absolute; background:rgba(33,96,111,.2); height:120px; width:0; top:0; border-right:dashed 1px rgba(255,255,255,.5)}
.wrap-chart .tooltip {position:absolute; left:0; background:#3d3d3d; padding:5px 10px; text-align:center; z-index:90; font-size:12px; font-weight:normal}
.wrap-chart .tooltip::before {content:""; display:block; border-top:solid 8px #3d3d3d; border-left:solid 4px transparent; border-right:solid 4px transparent; position:absolute; bottom:-8px; left:calc(50% - 4px)}
.wrap-chart .legend {display:none}

.wrap-chart .deco-wall {padding-top:100px}
.wrap-chart .deco-wall::before {content:""; display:block; height:120px; width:0; border:dashed #616161; border-width:0 1px; position:absolute; top:0; left:0}
.wrap-chart .deco-wall::after {content:""; display:block; height:120px; width:0; border:dashed #616161; border-width:0 1px; position:absolute; top:0; right:0}
.wrap-chart .deco-wall .tooltip {top:45px}
.wrap-chart .deco-wall .legend {display:block; margin-top:25px}
.wrap-chart .legend::after {content:""; display:block; clear:both}
.deco-wall .legend-residuum p::before {background:#3d3d3d}
.deco-wall .value-min {float:left}
.deco-wall .value-max {float:right}
.deco-wall .value-current {display:none}
.deco-wall .graphbar {background:#3d3d3d}

.value-legend {margin-top:10px}
.value-legend li::after {content:""; display:block; clear:both}
.value-legend p {float:left; position:relative; padding-left:20px; font-weight:normal}
.value-legend strong {display:block; float:right}
.value-legend p::before {content:""; display:block; width:10px; height:10px; border-radius:10px; position:absolute; top:calc(50% - 5px); left:0}
.legend-current p::before {background:#e84427}
.legend-residuum p::before {background:#21606f}

.wrap-chart .reverse {padding:0 40px 20px}
.reverse .value-legend {position:absolute; bottom:3px; left:0; width:100%}
.reverse .value-legend::after {display:none}
.reverse .value-legend li {float:left; font-size:12px; line-height:16px; position:relative; padding-top:16px; width:40px}
.reverse .value-legend li:last-child {float:right; text-align:right}
.reverse .value-legend li::after {display:none}
.reverse .value-legend p {padding:0; float:none}
.reverse .value-legend p::before {display:none}
.reverse .value-legend strong {float:none; position:absolute; top:0; left:0; width:100%; font-weight:normal; font-size:11px}
.wrap-chart .reverse .graphbar {background:#e84427}
.wrap-chart .reverse .graphbar p {background:#21606f}


/**** highchart ****/
[data-chart] .highcharts-container {width:100% !important}
[data-chart] .highcharts-root {width:100%;font-family:'NotoSansKr' !important}
[data-chart] .highcharts-background {fill:none}
[data-chart] .highcharts-text-outline {display:none;}
[data-chart] .highcharts-legend-item .highcharts-point {width:6px !important;height:6px !important;border-radius:50% !important;y:8px !important;x:9px !important;}
[data-chart] .highcharts-text-outline {display:none;}
[data-chart] .highcharts-credits {display:none;}
[data-chart] .highcharts-data-label {stroke-width:0;}
[data-chart] .highcharts-legend {pointer-events: none;} /* 범례 이벤트 삭제 */

/* chart-base */
[data-chart] .highcharts-xaxis-labels text {font-size:13px !important;color:#666 !important;fill:#666 !important}/* X 라벨 */
[data-chart] .highcharts-yaxis-labels text {font-size:10px !important;color:#ccc !important;fill:#ccc !important}/* Y 라벨 */
[data-chart] .highcharts-data-label text { font-size:13px !important; font-weight:700 !important;}/* 데이터 라벨 값 */
[data-chart] .highcharts-plot-line {stroke:#e8b427 !important;}
[data-chart] .highcharts-plot-line-label {color:#e8b427 !important;fill:#e8b427 !important;font-size:10px !important;line-height:12px !important;}
[data-chart] .highcharts-br {height: 0;}
[data-chart] .highcharts-xaxis .highcharts-axis-line {stroke:#444;}
[data-chart] .highcharts-label.highcharts-tooltip .highcharts-shadow {display:none;}
[data-chart] .highcharts-label.highcharts-tooltip .highcharts-tooltip-box {fill:#fff;}
[data-chart] .highcharts-legend .highcharts-legend-item text {font-size:13px !important;color:#999 !important;fill:#999 !important;font-weight:400 !important;}
[data-chart] .highcharts-legend .highcharts-legend-item text:hover {color:#fff !important;fill:#fff !important;}
[data-chart] .highcharts-legend-item.highcharts-legend-item-hidden text {color:#444 !important;fill:#444 !important;}
[data-chart] .normal {font-weight:400 !important;}

/* Solid-Gauge */
[data-chart^="Solid-Gauge"] .highcharts-color-0 {fill:#E84427}
[data-chart^="Solid-Gauge"] .highcharts-pane {fill:#3d3d3d;stroke-width:0;stroke:transparent}
[data-chart^="Solid-Gauge"] .highcharts-label-box {display:none;}
[data-chart^="Solid-Gauge"] .highcharts-data-labels .highcharts-data-label text {color:#fff !important;fill:#fff !important;font-weight:bold;}
[data-chart^="Solid-Gauge"] .highcharts-tick {display:none;stroke:transparent;}
[data-chart^="Solid-Gauge"] .highcharts-axis-line {stroke-width:0 !important;}
[data-chart="Solid-Gauge1"] {height:146px;}
[data-chart="Solid-Gauge1"] .highcharts-data-labels .highcharts-data-label text {font-size:15px !important;line-height:24px;}
[data-chart="Solid-Gauge2"] {height:182px;}
[data-chart="Solid-Gauge2"] .highcharts-data-labels .highcharts-data-label text {font-size:28px !important;line-height:40px;}

/* Donut-Line */
[data-chart^="Donut-Line"] {height:140px;}
[data-chart^="Donut-Line"] .highcharts-title {font-size:13px !important;color:#999 !important;fill:#999 !important;}
[data-chart^="Donut-Line"] .highcharts-subtitle {font-size:15px !important;color:#fff !important;fill:#fff !important;font-weight:bold;}
[data-chart^="Donut-Line"] .highcharts-point {stroke:#000 !important;stroke-width:4 !important;}
[data-chart^="Donut-Line"] .highcharts-subtitle {color:#fff;}
[data-chart^="Donut-Line"] .highcharts-halo{display:none;}

[data-chart^="Donut-Line1"] .highcharts-color-0 {fill:#fff;}
[data-chart^="Donut-Line1"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#fff;}
[data-chart^="Donut-Line1"] .highcharts-color-0 text tspan[style^="fill"] {fill:#eee !important}
[data-chart^="Donut-Line1"] .highcharts-color-1 {fill:#E84427;}
[data-chart^="Donut-Line1"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart^="Donut-Line1"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Donut-Line1-2"] {height:156px;}

[data-chart^="Donut-Line2"] .highcharts-color-0 {fill:#404040;}
[data-chart^="Donut-Line2"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#404040;}
[data-chart^="Donut-Line2"] .highcharts-color-0 text tspan[style^="fill"] {fill:#404040 !important}
[data-chart^="Donut-Line2"] .highcharts-color-1 {fill:#E84427;}
[data-chart^="Donut-Line2"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart^="Donut-Line2"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Donut-Line2-2"] {height:156px;}

[data-chart="Donut-Line3"] .highcharts-color-0 {fill:#404040;}
[data-chart="Donut-Line3"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#404040;}
[data-chart="Donut-Line3"] .highcharts-color-0 text tspan[style^="fill"] {fill:#404040 !important}
[data-chart="Donut-Line3"] .highcharts-color-1 {fill:#fff;}
[data-chart="Donut-Line3"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#fff;}
[data-chart="Donut-Line3"] .highcharts-color-1 text tspan[style^="fill"] {fill:#eee !important}
[data-chart="Donut-Line3"] .highcharts-color-2 {fill:#E84427;}
[data-chart="Donut-Line3"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Donut-Line3"] .highcharts-color-2 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart^="Donut-Line4"] .highcharts-color-0 {fill:#E84427;}
[data-chart^="Donut-Line4"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart^="Donut-Line4"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-color-0 text {fill:#E84427 !important;color:#E84427 !important}
[data-chart^="Donut-Line4"] .highcharts-color-1 {fill:#fc755c;}
[data-chart^="Donut-Line4"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#fc755c;}
[data-chart^="Donut-Line4"] .highcharts-color-1 text tspan[style^="fill"] {fill:#fc755c !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-color-1 text {fill:#fc755c !important;color:#fc755c !important}
[data-chart^="Donut-Line4"] .highcharts-color-2 {fill:#fc907c;}
[data-chart^="Donut-Line4"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#fc907c;}
[data-chart^="Donut-Line4"] .highcharts-color-2 text tspan[style^="fill"] {fill:#fc907c !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-color-2 text {fill:#fc907c !important;color:#fc907c !important}
[data-chart^="Donut-Line4"] .highcharts-color-3 {fill:#707070;}
[data-chart^="Donut-Line4"] .highcharts-color-3 .highcharts-tooltip-box {stroke:#707070;}
[data-chart^="Donut-Line4"] .highcharts-color-3 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-color-3 text {fill:#ccc !important;color:#ccc !important}
[data-chart^="Donut-Line4"] .highcharts-color-4 {fill:#404040;}
[data-chart^="Donut-Line4"] .highcharts-color-4 .highcharts-tooltip-box {stroke:#404040;}
[data-chart^="Donut-Line4"] .highcharts-color-4 text tspan[style^="fill"] {fill:#404040 !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-color-4 text {fill:#ccc !important;color:#ccc !important}
[data-chart^="Donut-Line4"] .highcharts-data-label-connector {display:none;}
[data-chart="Donut-Line4-2"] {height:156px;}

/* Basic-Column */
[data-chart^="Basic-Column"] .highcharts-point {stroke-width:0;}
[data-chart^="Basic-Column"] .highcharts-yaxis-grid .highcharts-grid-line {stroke-width:0;}
[data-chart^="Basic-Column"]:not([data-chart="Basic-Column1"]):not([data-chart="Basic-Column4"]):not([data-chart="Basic-Column6"]):not([data-chart="Basic-Column8"]):not([data-chart="Basic-Column10"]):not([data-chart="Pareto-chart5"]) .highcharts-xaxis-labels text:last-child {color:#fff !important;fill:#fff !important;font-weight:bold;}
[data-chart^="Basic-Column"].t1 .highcharts-xaxis-labels text:last-child {color:#fff !important;fill:#fff !important;font-weight:bold;}

[data-chart="Basic-Column1"] .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Column1"] .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column1"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column1"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column2"] .highcharts-color-0 {fill:#707070;}
[data-chart="Basic-Column2"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column2"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column2"] .highcharts-data-label-color-0 text {color:#ccc !important;fill:#ccc !important;}
[data-chart="Basic-Column2"] .highcharts-color-1 {fill:#707070;}
[data-chart="Basic-Column2"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column2"] .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column2"] .highcharts-data-label-color-1 text {color:#ccc !important;fill:#ccc !important;}
[data-chart="Basic-Column2"] .highcharts-color-2 {fill:#E84427;}
[data-chart="Basic-Column2"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column2"] .highcharts-color-2 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column2"] .highcharts-data-label-color-2 text {color:#E84427 !important;fill:#E84427 !important;}
[data-chart="Basic-Column2"] .highcharts-legend-item .highcharts-point {fill:#666 !important}
[data-chart="Basic-Column2"] .highcharts-color-0 .highcharts-color-0:last-child {fill:#E84427;}
[data-chart="Basic-Column2"] .highcharts-color-0 .highcharts-data-label-color-0:last-child text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart^="Basic-Column2-4"].columnt1 .highcharts-color-0 rect {fill:#E8B427;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-1 rect {fill:#707070;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-1 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-2 rect {fill:#E84427;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-2 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-2 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart^="Basic-Column2"].columnt1 .highcharts-color-2 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart^="Basic-Column2"].columnt1 .highcharts-xaxis .highcharts-axis-line {stroke:#444;}

[data-chart="Basic-Column3"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Basic-Column3"].career-type .highcharts-color-0 rect {fill:#E8B427;}
[data-chart="Basic-Column3"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column3"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column3"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column3"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Column3"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column3"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column3"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-1 rect {fill: #707070;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-2 rect {fill: #E84427;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-1 rect {fill:#707070;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-1 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-2 rect {fill:#E84427;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-2 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-2 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column3"].columnt1 .highcharts-color-2 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column4"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Basic-Column4"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column4"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column4"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column4"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Column4"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column4"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column4"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column4"].reverse .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Column4"].reverse .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column4"].reverse .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column4"].reverse .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column4"].reverse .highcharts-color-1 rect {fill:#707070 !important;}
[data-chart="Basic-Column4"].reverse .highcharts-color-1 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column4"].reverse .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column4"].reverse .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}

[data-chart="Basic-Column5"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Basic-Column5"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column5"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column5"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}

[data-chart="Basic-Column6"] .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Column6"] .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column6"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column6"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column7"] .highcharts-color-0 rect {fill:#fff;}
[data-chart="Basic-Column7"] .highcharts-color-0 .highcharts-data-label text {fill:#fff !important;color:#fff !important;}
[data-chart="Basic-Column7"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#fff;}
[data-chart="Basic-Column7"] .highcharts-color-0 text tspan[style^="fill"] {fill:#eee !important}
[data-chart="Basic-Column7"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Column7"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column7"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column7"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column7"] .highcharts-color-2 rect {fill:#404040;}
[data-chart="Basic-Column7"] .highcharts-color-2 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column7"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#404040;}
[data-chart="Basic-Column7"] .highcharts-color-2 text tspan[style^="fill"] {fill:#404040 !important}

[data-chart="Basic-Column8"] .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Column8"] .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column8"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column8"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column9"] .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Column9"] .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column9"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column9"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column10"] {height:198px;padding:18px 18px 0 18px;border-radius:5px;background-color:#eeeeee;}
[data-chart="Basic-Column10"] .highcharts-point {fill:#7b7b7b;}
[data-chart="Basic-Column10"] .highcharts-data-labels text {fill:#7b7b7b !important;color:#7b7b7b !important;}
[data-chart="Basic-Column10"] .highcharts-label .highcharts-tooltip-box {stroke:#7b7b7b;}
[data-chart="Basic-Column10"] .highcharts-label text tspan[style^="fill"] {fill:#7b7b7b !important}

[data-chart="Basic-Column10"] .highcharts-color-5 {fill:#E84427;}
[data-chart="Basic-Column10"] .highcharts-data-label-color-5 text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column10"] .highcharts-color-5 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column10"] .highcharts-color-5 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Column10"] .highcharts-xaxis-labels text {font-size:10px !important;color:#757575 !important;fill:#757575 !important}
[data-chart="Basic-Column10"] .highcharts-yaxis-grid .highcharts-grid-line {stroke:#ccc;stroke-dasharray:1, 3;stroke-width:1;}

[data-chart="Basic-Column11"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Basic-Column11"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Column11"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Column11"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Column11"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Column11"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Column11"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Column11"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Column11"] .highcharts-plot-line {stroke:#444 !important;}
[data-chart="Basic-Column11"] .highcharts-xaxis .highcharts-axis-line {stroke:none;}


[data-chart="Basic-Column1"] .highcharts-yaxis-grid .highcharts-grid-line,
[data-chart="Basic-Column7"] .highcharts-yaxis-grid .highcharts-grid-line,
[data-chart="Basic-Column8"] .highcharts-yaxis-grid .highcharts-grid-line {stroke:#444;stroke-dasharray:1, 4;stroke-width:1;}

/* Basic-Bar */
[data-chart^="Basic-Bar"] .highcharts-point {stroke-width:0;}
[data-chart^="Basic-Bar"] .highcharts-yaxis-grid .highcharts-grid-line {stroke-width:0;}
[data-chart^="Basic-Bar"] .highcharts-xaxis-labels text {fill:#999 !important;color:#999 !important;}

[data-chart="Basic-Bar1"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Basic-Bar1"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Bar1"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Bar1"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Bar1"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Bar1"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Bar1"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar1"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Bar2"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Bar2"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar2"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Bar2"] .highcharts-data-label-color-0 text {color:#E84427 !important;fill:#E84427 !important;}
[data-chart="Basic-Bar2"] .highcharts-color-1 {fill:#707070;}
[data-chart="Basic-Bar2"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Bar2"] .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Bar2"] .highcharts-data-label-color-1 text {color:#ccc !important;fill:#ccc !important;}
[data-chart="Basic-Bar2"] .highcharts-color-2 {fill:#707070;}
[data-chart="Basic-Bar2"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Bar2"] .highcharts-color-2 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Basic-Bar2"] .highcharts-data-label-color-2 text {color:#ccc !important;fill:#ccc !important;}
[data-chart="Basic-Bar2"] .highcharts-xaxis-labels text:first-child {color:#ccc !important;fill:#ccc !important;font-weight:bold;}

[data-chart="Basic-Bar3"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Bar3"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar3"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Bar3"] .highcharts-color-1 {fill:#fc755c;}
[data-chart="Basic-Bar3"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#fc755c;}
[data-chart="Basic-Bar3"] .highcharts-color-1 text tspan[style^="fill"] {fill:#fc755c !important}
[data-chart="Basic-Bar3"] .highcharts-color-2 {fill:#707070;}
[data-chart="Basic-Bar3"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#fff;}
[data-chart="Basic-Bar3"] .highcharts-color-2 text tspan[style^="fill"] {fill:#fff !important}
[data-chart="Basic-Bar3"] .highcharts-data-label text {color:#ccc !important;fill:#ccc !important;}

[data-chart="Basic-Bar4"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Bar4"] .highcharts-data-label-color-0 text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Bar4"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar4"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Bar4"] .highcharts-color-1 {fill:#707070;}
[data-chart="Basic-Bar4"] .highcharts-data-label-color-1 text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Basic-Bar4"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Bar4"] .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}

[data-chart="Basic-Bar5"] .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Basic-Bar5"] .highcharts-color-0 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Bar5"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar5"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Bar6"] .highcharts-color-0 rect {fill:#666;}
[data-chart="Basic-Bar6"] .highcharts-color-0 .highcharts-data-label text {fill:#999 !important;color:#999 !important;}
[data-chart="Basic-Bar6"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#666;}
[data-chart="Basic-Bar6"] .highcharts-color-0 text tspan[style^="fill"] {fill:#666 !important}
[data-chart="Basic-Bar6"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Basic-Bar6"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Basic-Bar6"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Bar6"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Bar6"] .highcharts-legend .highcharts-legend-item text,
[data-chart="Basic-Bar6"] .highcharts-xaxis-labels text {fill:#666 !important;color:#666 !important;}

/* Basic-Line */
[data-chart^="Basic-Line"] .highcharts-point {stroke-width:0;}
[data-chart^="Basic-Line"]:not([data-chart="Basic-Line4"]) .highcharts-xaxis-labels text:last-child {color:#fff !important;fill:#fff !important;font-weight:bold;}
[data-chart^="Basic-Line"] .highcharts-yaxis-grid .highcharts-grid-line {stroke-width:0;}
[data-chart^="Basic-Line"] .highcharts-data-label text {color:#fff !important;fill:#fff !important;}
[data-chart^="Basic-Line"] .highcharts-plot-line.xLine {stroke:#ddd !important;stroke-dasharray:1, 3;}

[data-chart="Basic-Line1"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Line1"] .highcharts-color-0 .highcharts-graph {stroke:#E84427;}
[data-chart="Basic-Line1"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Line1"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Line2"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Line2"] .highcharts-color-0 .highcharts-graph {stroke:#E84427;}
[data-chart="Basic-Line2"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Line2"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Line2"] .highcharts-data-label text {display:block;}

[data-chart="Basic-Line3"] .highcharts-color-0 {fill:#666;}
[data-chart="Basic-Line3"] .highcharts-color-0 .highcharts-point {fill:#666;}
[data-chart="Basic-Line3"] .highcharts-color-0 .highcharts-graph {stroke:#666;}
[data-chart="Basic-Line3"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#666;}
[data-chart="Basic-Line3"] .highcharts-color-0 text tspan[style^="fill"] {fill:#666 !important}
[data-chart="Basic-Line3"] .highcharts-data-label text {display:none;}
[data-chart="Basic-Line3"] .highcharts-data-label:last-child text {display:block;}
[data-chart="Basic-Line3"] .highcharts-markers .highcharts-point:last-child {fill:#fff !important;}
[data-chart="Basic-Line3"] .highcharts-plot-line-label {color:#e84427 !important;fill:#e84427 !important;font-size: 13px !important;}
[data-chart="Basic-Line3"] .highcharts-plot-line {stroke:rgba(232,68,39,.3) !important;stroke-width: 3 !important;}
[data-chart="Basic-Line3"] .highcharts-xaxis-labels text {font-size:10px !important;}
#perfomanceChart4[data-chart="Basic-Line3"] .highcharts-label text tspan:nth-child(4):before {content: '↑';display: inline-block;width: 10px;height: 10px;font-size: 13px;} 

[data-chart="Basic-Line4"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Line4"] .highcharts-color-0 .highcharts-graph {stroke:#E84427;}
[data-chart="Basic-Line4"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Line4"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Basic-Line5"] .highcharts-color-0 {fill:#E84427;}
[data-chart="Basic-Line5"] .highcharts-color-0 .highcharts-point {fill:#E84427;}
[data-chart="Basic-Line5"] .highcharts-color-0 .highcharts-graph {stroke:#E84427;}
[data-chart="Basic-Line5"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Basic-Line5"] .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Basic-Line5"] .highcharts-color-1 {fill:#707070;}
[data-chart="Basic-Line5"] .highcharts-color-1 .highcharts-point {fill:#707070;}
[data-chart="Basic-Line5"] .highcharts-color-1 .highcharts-graph {stroke:#707070;}
[data-chart="Basic-Line5"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Basic-Line5"] .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}

[data-chart="Basic-Line5"] .highcharts-color-2 {fill:#e8b427;}
[data-chart="Basic-Line5"] .highcharts-color-2 .highcharts-point {fill:#e8b427;}
[data-chart="Basic-Line5"] .highcharts-color-2 .highcharts-graph {stroke:#e8b427;}
[data-chart="Basic-Line5"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#e8b427;}
[data-chart="Basic-Line5"] .highcharts-color-2 text tspan[style^="fill"] {fill:#e8b427 !important}

[data-chart="Basic-Line3"] .highcharts-yaxis-grid .highcharts-grid-line,
[data-chart="Basic-Line4"] .highcharts-yaxis-grid .highcharts-grid-line,
[data-chart="Basic-Line5"] .highcharts-yaxis-grid .highcharts-grid-line {stroke:#444;stroke-dasharray:1, 3;stroke-width:1;}
[data-chart="Basic-Line5"] .highcharts-xaxis-labels text {line-height:30px !important}

/* Pareto-chart */
[data-chart^="Pareto-chart"] .highcharts-point {stroke-width:0;;}
[data-chart^="Pareto-chart"].columnt1 .highcharts-color-0, [data-chart^="Pareto-chart"].columnt1 .highcharts-color-1 {fill: #707070;}
[data-chart^="Pareto-chart"].columnt1 .highcharts-color-2 {fill: #e84427;}
[data-chart^="Pareto-chart"] .highcharts-yaxis-grid .highcharts-grid-line {stroke-width:0;}
[data-chart^="Pareto-chart"]:not([data-chart="Pareto-chart2"]):not([data-chart="Pareto-chart5"]) .highcharts-xaxis-labels text:last-child {color:#fff !important;fill:#fff !important;font-weight:bold;}
[data-chart^="Pareto-chart"]:not([data-chart="Pareto-chart3"]):not([data-chart="Pareto-chart4"]):not([data-chart="Pareto-chart5"]) .highcharts-xaxis .highcharts-axis-line {stroke:transparent;}
.data [data-chart^="Pareto-chart"] {height: initial !important;}

[data-chart="Pareto-chart1"] .highcharts-color-0 rect {fill:#404040;}
[data-chart="Pareto-chart1"] .highcharts-color-0 .highcharts-data-label text {fill:#404040 !important;color:#404040 !important;}
[data-chart="Pareto-chart1"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#404040;}
[data-chart="Pareto-chart1"] .highcharts-color-0 text tspan[style^="fill"] {fill:#404040 !important}
[data-chart="Pareto-chart1"] .highcharts-color-1 {fill:#E84427;}
[data-chart="Pareto-chart1"] .highcharts-color-1 .highcharts-data-label text {color:#fff !important;fill:#E84427 !important;}
[data-chart="Pareto-chart1"] .highcharts-color-1 .highcharts-graph {stroke:#E84427;}
[data-chart="Pareto-chart1"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Pareto-chart1"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Pareto-chart1"] .highcharts-color-1 .highcharts-point {fill:#E84427 !important}
[data-chart="Pareto-chart1"] .highcharts-series-group .highcharts-color-0 rect:last-child {fill:#fff;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-0 rect {fill:#E84427;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-0 .highcharts-data-label text {fill:#fff !important;color:#E84427 !important;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-0 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-0 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 {fill:#404040;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 .highcharts-data-label text {color:#fff !important;fill:#fff !important;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 .highcharts-graph {stroke:#404040;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 .highcharts-tooltip-box {stroke:#404040;}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 text tspan[style^="fill"] {fill:#404040 !important}
[data-chart="Pareto-chart1"].reverse .highcharts-color-1 .highcharts-point {fill:#404040 !important}
[data-chart="Pareto-chart1"].reverse .highcharts-series-group .highcharts-color-0 rect:last-child {fill: #E84427 !important;}
/* [data-chart="Pareto-chart1"].reverse.current-month .highcharts-data-labels > .highcharts-label:last-child {fill:#f8730a !important} */

[data-chart="Pareto-chart2"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Pareto-chart2"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Pareto-chart2"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Pareto-chart2"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Pareto-chart2"] .highcharts-color-1 {fill:#E84427;}
[data-chart="Pareto-chart2"] .highcharts-color-1 .highcharts-data-label text {color:#E84427 !important;fill:#E84427 !important;}
[data-chart="Pareto-chart2"] .highcharts-color-1 .highcharts-graph {stroke:#E84427;}
[data-chart="Pareto-chart2"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Pareto-chart2"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Pareto-chart2"] .highcharts-color-1 .highcharts-point {fill:#E84427 !important}

[data-chart="Pareto-chart3"] .highcharts-color-0 rect {fill:#707070;}
[data-chart="Pareto-chart3"] .highcharts-color-0 .highcharts-data-label text {fill:#ccc !important;color:#ccc !important;}
[data-chart="Pareto-chart3"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Pareto-chart3"] .highcharts-color-0 text tspan[style^="fill"] {fill:#707070 !important}
[data-chart="Pareto-chart3"] .highcharts-color-1 rect {fill:#E84427;}
[data-chart="Pareto-chart3"] .highcharts-color-1 .highcharts-data-label text {fill:#E84427 !important;color:#E84427 !important;}
[data-chart="Pareto-chart3"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Pareto-chart3"] .highcharts-color-1 text tspan[style^="fill"] {fill:#E84427 !important}

[data-chart="Pareto-chart3"] .highcharts-color-2 {fill:#e8b427;}
[data-chart="Pareto-chart3"] .highcharts-color-2 .highcharts-data-label text {color:#e8b427 !important;fill:#e8b427 !important;}
/* .data.position .data .highcharts-data-label text {position: absolute;transform: translateY(-10px);} */
[data-chart="Pareto-chart3"] .highcharts-color-2 .highcharts-graph {stroke:#e8b427;}
[data-chart="Pareto-chart3"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#e8b427;}
[data-chart="Pareto-chart3"] .highcharts-color-2 text tspan[style^="fill"] {fill:#e8b427 !important}
[data-chart="Pareto-chart3"] .highcharts-color-2 .highcharts-point {fill:#e8b427 !important}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] {fill: #e8b427;} 
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] .highcharts-data-label text {color:#e8b427 !important;fill:#e8b427 !important;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] .highcharts-graph {stroke:#e8b427;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] .highcharts-tooltip-box {stroke:#e8b427;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] text tspan[style^="fill"] {fill:#e8b427 !important}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] [class*="highcharts-color"] .highcharts-point {fill: #e8b427 !important;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] .highcharts-xaxis {display: none;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] .highcharts-xaxis-labels text {display: none !important;}
[data-chart="Pareto-chart3"] ~ .data [data-chart="Pareto-chart3"] .highcharts-tooltip {z-index: 10 !important;}
[data-chart="Pareto-chart3"].position {position: absolute;left: 0;top: 10px;right: 0;bottom: 0;z-index: 2;}
[class*="page"] [data-chart="Pareto-chart3"].position {top: 0;}

[data-chart="Pareto-chart4"] .highcharts-color-0 rect {fill:#ddd;}
[data-chart="Pareto-chart4"] .highcharts-color-0 .highcharts-data-label text {fill:#ddd !important;color:#ddd !important;}
[data-chart="Pareto-chart4"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#ddd;}
[data-chart="Pareto-chart4"] .highcharts-color-0 text tspan[style^="fill"] {fill:#ddd !important}
[data-chart="Pareto-chart4"] .highcharts-color-1 rect {fill:#707070;}
[data-chart="Pareto-chart4"] .highcharts-color-1 .highcharts-data-label text {fill:#707070 !important;color:#707070 !important;}
[data-chart="Pareto-chart4"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#707070;}
[data-chart="Pareto-chart4"] .highcharts-color-1 text tspan[style^="fill"] {fill:#707070 !important}

[data-chart="Pareto-chart4"] .highcharts-color-2 {fill:#E84427;}
[data-chart="Pareto-chart4"] .highcharts-color-2 .highcharts-data-label text {color:#E84427 !important;fill:#E84427 !important;}
[data-chart="Pareto-chart4"] .highcharts-color-2 .highcharts-graph {stroke:#E84427;}
[data-chart="Pareto-chart4"] .highcharts-color-2 .highcharts-tooltip-box {stroke:#E84427;}
[data-chart="Pareto-chart4"] .highcharts-color-2 text tspan[style^="fill"] {fill:#E84427 !important}
[data-chart="Pareto-chart4"] .highcharts-color-2 .highcharts-point {fill:#E84427 !important}

[data-chart="Pareto-chart4"] .highcharts-color-3 {fill:#e8b427;}
[data-chart="Pareto-chart4"] .highcharts-color-3 .highcharts-data-label text {color:#e8b427 !important;fill:#e8b427 !important;}
[data-chart="Pareto-chart4"] .highcharts-color-3 .highcharts-graph {stroke:#e8b427;}
[data-chart="Pareto-chart4"] .highcharts-color-3 .highcharts-tooltip-box {stroke:#e8b427;}
[data-chart="Pareto-chart4"] .highcharts-color-3 text tspan[style^="fill"] {fill:#e8b427 !important;}
[data-chart="Pareto-chart4"] .highcharts-color-3 .highcharts-point {fill:#e8b427 !important}

[data-chart="Pareto-chart5"] {height:198px;padding:18px 18px 0 18px;border-radius:5px;background-color:#eeeeee;}
[data-chart="Pareto-chart5"] .highcharts-color-0 rect {fill:#7b7b7b;}
[data-chart="Pareto-chart5"] .highcharts-color-0 .highcharts-data-label text {fill:#7b7b7b !important;color:#7b7b7b !important;}
[data-chart="Pareto-chart5"] .highcharts-color-0 .highcharts-tooltip-box {stroke:#7b7b7b;}
[data-chart="Pareto-chart5"] .highcharts-color-0 text tspan[style^="fill"] {fill:#7b7b7b !important}
[data-chart="Pareto-chart5"] .highcharts-color-1 {fill:#e8b427;}
[data-chart="Pareto-chart5"] .highcharts-color-1 .highcharts-data-label text {color:#e8b427 !important;fill:#e8b427 !important;}
[data-chart="Pareto-chart5"] .highcharts-color-1 .highcharts-graph {stroke:#e8b427;}
[data-chart="Pareto-chart5"] .highcharts-color-1 .highcharts-tooltip-box {stroke:#e8b427;}
[data-chart="Pareto-chart5"] .highcharts-color-1 text tspan[style^="fill"] {fill:#e8b427 !important}
[data-chart="Pareto-chart5"] .highcharts-color-1 .highcharts-point {fill:#e8b427 !important}
[data-chart="Pareto-chart5"] .highcharts-series-group .highcharts-color-0 rect:last-child {fill:#E84427;}
[data-chart="Pareto-chart5"] .highcharts-xaxis-labels text {font-size:10px !important;color:#757575 !important;fill:#757575 !important}
[data-chart="Pareto-chart5"] .highcharts-yaxis-grid .highcharts-grid-line {stroke:#ccc;stroke-dasharray:1, 3;stroke-width:1;} 

/* Heat-Map */
[data-chart="Heat-Map"] .highcharts-yaxis-grid .highcharts-grid-line,
[data-chart="Heat-Map"] .highcharts-xaxis .highcharts-axis-line {stroke-width:0 !important;}
[data-chart="Heat-Map"] .highcharts-point {stroke-width:4 !important;stroke:#000 !important}

/* chart-large-tree */
[data-chart="Large-tree-Map"] .highcharts-breadcrumbs-group {transform: translate(10, -7) !important;}
[data-chart="Large-tree-Map"] .highcharts-button-normal text {color:#999 !important;fill:#999 !important;}
[data-chart="Large-tree-Map"] .highcharts-button-hover text {color:#000000 !important;fill:#000000 !important;}
[data-chart="Large-tree-Map"] .highcharts-button-pressed text {color:#000000 !important;fill:#000000 !important;}
[data-chart="Large-tree-Map"] .highcharts-data-labels .highcharts-data-label text {color:#fff !important;fill:#fff !important;font-size:15px !important;}

/* Spider-Web */
[data-chart^="Spider-Web"] .highcharts-yaxis-grid path {stroke:#dddddd;}
[data-chart^="Spider-Web"] .highcharts-legend-item .highcharts-graph {display:none;}
[data-chart="Spider-Web"] [class*="color-0"] {--el-color:#e84326;}
[data-chart="Spider-Web"] [class*="color-1"] {--el-color:#ddd;}
[data-chart="Spider-Web"] .highcharts-color-0 {fill:var(--el-color);}
[data-chart="Spider-Web"] .highcharts-color-1 {fill:var(--el-color);}
[data-chart="Spider-Web"] .highcharts-point.highcharts-color-1 {fill:none;}
[data-chart="Spider-Web"] .highcharts-series-0.highcharts-color-0 .highcharts-graph {fill:rgba(232,67,38,0.15);stroke:#e84326;stroke-width:1;}
[data-chart="Spider-Web"] .highcharts-series-1.highcharts-color-1 .highcharts-graph {fill:rgba(221,211,211,0.6);stroke:none;}
[data-chart="Spider-Web"] .highcharts-title {display:none;}
[data-chart="Spider-Web"] .highcharts-legend-item.highcharts-color-0 .highcharts-point {fill:var(--el-color);}
[data-chart="Spider-Web"] .highcharts-legend-item.highcharts-color-1 .highcharts-point {fill:var(--el-color);}
[data-chart="Spider-Web"] .highcharts-xaxis-labels text {font-weight:700;}
[data-chart="Spider-Web"] .highcharts-radial-axis-labels + .highcharts-radial-axis-labels {display:none;}
[data-chart="Spider-Web"] .highcharts-axis-line {display:none;}
[data-chart="Spider-Web"] .highcharts-label.highcharts-tooltip .highcharts-tooltip-box {fill:#fff;stroke:var(--line2);}
[data-chart="Spider-Web"] .highcharts-label.highcharts-tooltip text tspan[style^="fill"] {fill:var(--el-color) !important}

[data-chart="Spider-Web2"] [class*="color-0"] {--el-color:#1b8cfc;}
[data-chart="Spider-Web2"] [class*="color-1"] {--el-color:#e84326;}
[data-chart="Spider-Web2"] [class*="color-2"] {--el-color:rgba(232,67,38,0);}
/* [data-chart="Spider-Web2"] [class*="color-3"] {--el-color:rgba(232,67,38,0);} */
[data-chart="Spider-Web2"] .highcharts-color-0 {fill:var(--el-color);}
[data-chart="Spider-Web2"] .highcharts-color-1 {fill:var(--el-color);}
[data-chart="Spider-Web2"] .highcharts-color-2 {fill:none;}
[data-chart="Spider-Web2"] .highcharts-color-3 {fill:none;}
[data-chart="Spider-Web2"] .highcharts-markers .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-series-0.highcharts-color-0 .highcharts-graph {fill:rgba(27,140,252,.15);stroke:#1b8cfc;stroke-width:1;}
[data-chart="Spider-Web2"] .highcharts-series-1.highcharts-color-1 .highcharts-graph {fill:rgba(232,67,38,0.6);stroke:#e84326;stroke-width:1;}
[data-chart="Spider-Web2"] .highcharts-series-2.highcharts-color-2 .highcharts-graph {fill:none;stroke:none;stroke-width:1;}
[data-chart="Spider-Web2"] .highcharts-series-2.highcharts-color-3 .highcharts-graph {fill:none;stroke:none;stroke-width:1;}
[data-chart="Spider-Web2"] .highcharts-markers.highcharts-color-0 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-markers.highcharts-color-1 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-markers.highcharts-color-2 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-markers.highcharts-color-3 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-series-2 {display:none !important;}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-series-3 {display:none !important;}
[data-chart="Spider-Web2"] .highcharts-title {display:none;}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-color-0 .highcharts-point {fill:var(--el-color);}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-color-1 .highcharts-point {fill:var(--el-color);}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-color-2 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-legend-item.highcharts-color-3 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-xaxis-labels text {font-weight:700;}
[data-chart="Spider-Web2"] .highcharts-radial-axis-labels + .highcharts-radial-axis-labels {display:none;}
[data-chart="Spider-Web2"] .highcharts-axis-line {display:none;}
[data-chart="Spider-Web2"] .highcharts-label.highcharts-tooltip .highcharts-tooltip-box {fill:#fff;stroke:var(--line2);}
[data-chart="Spider-Web2"] .highcharts-label.highcharts-tooltip text tspan[style^="fill"] {fill:var(--el-color) !important}
[data-chart="Spider-Web2"].active .highcharts-series-1.highcharts-color-1 .highcharts-graph {fill:rgba(232,67,38,0.3);stroke:#e84326;}
[data-chart="Spider-Web2"].active .highcharts-markers.highcharts-color-1 .highcharts-point {fill:none;}
[data-chart="Spider-Web2"] .highcharts-label.highcharts-tooltip.highcharts-color-2 {display: none !important;}
[data-chart="Spider-Web2"] .highcharts-yaxis-grid.highcharts-radial-axis-grid path:nth-last-child(2) {stroke: red;stroke-dasharray: 5}
.wrap-chart2 {position: relative;}
.wrap-chart2 .unit-t1 {position: absolute;top: 1.4rem;right: 0;color: #999;font-size: 1.3rem;}
.wrap-chart2 .unit-t1:before {content: '';position: absolute;left: -1.5rem;top: 0.5rem;width: 1.2rem;height: 1.2rem;background: url('../img/com/ico_dash.svg') no-repeat center;}

@media (max-width:1000px) {
	.wrap-chart {margin:1rem 0;padding:1rem;}
	.multiple-chart strong {width:6.6rem;top:calc(50% - 1.2rem);left:-6.6rem;font-size:1.3rem;color:var(--color3);}
	.multiple-chart .graphbar {height:0.4rem}
	.multiple-chart .percent {width:5.0rem;top:calc(50% - 1.2rem);right:-5.0rem;padding-left:1.0rem;font-size:1rem;}
	.percentage-chart .total {font-size:1.2rem;margin-bottom:3rem}
	.percentage-chart .total strong {font-size:3rem}

	[data-chart] .highcharts-legend-item .highcharts-point {width:0.6rem !important;height:0.6rem !important;y:0.8rem !important;x:0.9rem !important;}
	[data-chart] .highcharts-xaxis-labels text {font-size:1.3rem !important;}/* X 라벨 */
	[data-chart] .highcharts-yaxis-labels text {font-size:1.0rem !important;}/* Y 라벨 */
	[data-chart] .highcharts-data-label text { font-size:1.3rem !important;}/* 데이터 라벨 값 */
	[data-chart] .highcharts-legend .highcharts-legend-item text {font-size:1.3rem !important;}
	[data-chart^="Donut-Line"] .highcharts-point {stroke: #292929 !important;}
	[data-chart="Solid-Gauge"] .highcharts-pane {fill:#404040;}
	[data-chart="Solid-Gauge1"] .highcharts-data-labels .highcharts-data-label text {font-size:1.5rem !important;line-height:2.4rem;}
	[data-chart="Solid-Gauge2"] .highcharts-data-labels .highcharts-data-label text {font-size:2.8rem !important;line-height:4rem;}
	[data-chart="Basic-Line3"] .highcharts-xaxis-labels text {font-size:1rem !important;}
	[data-chart="Large-tree-Map"] .highcharts-data-labels .highcharts-data-label text {font-size:1.5rem !important;}
}

/* @media (max-width: 280px) {
	.wrap-chart2 [data-chart] .highcharts-legend .highcharts-legend-item text {font-size: 1.1rem !important;}
	.unit-t1 {top: 3.6rem !important; font-size: 1.1rem !important;}
} */